* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 300px;
  padding-right: 300px;
  width: 100vw;
}
.main-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 73px;
  align-self: flex-start;
  margin-bottom: 10px;
}
.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.input-para {
  font-size: 20px;
  color: #475569;
  font-family: 'Roboto';
}
.name-input {
  outline: none;
  width: solid 1px #475569;
  width: 350px;
  height: 30px;
  font-family: 'Roboto';
  font-size: 20px;
  color: #1e293b;
  margin-bottom: 10px;
}
.input-comment {
  outline: none;
  width: solid 1px #475569;
  width: 350px;
  height: 150px;
  font-family: 'Roboto';
  font-size: 20px;
  color: #1e293b;
}
.btn {
  width: 170px;
  padding: 10px;
  height: 40px;
  background-color: #0284c7;
  color: white;
  font-size: 'Roboto';
  cursor: pointer;
  border-radius: 7px;
  border-width: 0px;
  margin-top: 10px;
}
.main-image-resize {
  width: 400px;
  margin-left: 100px;
}
.line {
  width: 850px;

  border: 1px solid #cbd2d9;
}
.heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}

.comments-count {
  text-align: center;
  color: #ffffff;
  background-color: #0284c7;
  font-size: 12px;
  font-family: 'Roboto';
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  margin-right: 4px;
}
.un-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  margin-left: 0px;
  padding: 1px;
}
